notes.txt
CONTEXT-Channel Management-Intel_ERS_201912_new format_DB_units_19.05.20.xlsx
Q1'20 ERS sku matrix_DB_units_19.05.20.xlsx
Reb_overv_old.html
test.html
Vendor_View_v3_bar_line_chart.html
Vendor_View_v2_1.html
Vendor_View_v2.html
Vendor_View_v2_1
Vendor_View
font-awesome-4.7.0
style.css
test2.html
Rebate_Overview_intel2.html
tabelki.xlsx

//intel pages
//Brand_Sku_Listing_intel.html
//Product_Incentives_intel.html
//Rebate_Overview_intel.html
//Rewards_intel.html
//Vendor_View_intel.html

//common pages
Brand_Sku_Listing.html
Product_Incentives.html
Rebate_Overview.html
Rewards.html
Vendor_View_v3.html
